html,
body{
  
    font: 13px "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: 300;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }

.main{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
}
h2 { font-size: 20px; line-height: 38px; }
.headcover{
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/vHnVew5foFU/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.headcover2{
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/vHnVew5foFU/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

div.item{
    display: inline-block;
    text-align: center;
} 

.selector-for-some-widget{
    box-sizing: content-box;
}

.header-photo{
    background: url(https://source.unsplash.com/vHnVew5foFU/1920x1080);
    background-repeat: no-repeat;
    position: relative; 
    background-size: cover; 
}

.page-caption { padding-top: 170px; padding-bottom: 174px; }
.page-title { font-size: 46px; line-height: 1; color: #fff; font-weight: 600; text-align: center; }

.card-section { position: relative; bottom: 60px; }
.card-block { padding: 80px; }
.section-title { margin-bottom: 60px; }

.image {
    -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
}

.image:hover{
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}
.dark {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.img {
    max-width: 100%;
    height:auto;
}

/* for anime.js  */
.ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }